*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 1114px;
  background: url("./Vector\ 55\ \(1\).png");
  background-repeat: no-repeat;
  font-family: 'Nunito Sans', sans-serif;
  display: grid;
  grid-template-columns: 27% 49% 23.5%;
  grid-template-areas: ". two .";
  position: relative;
}

.two {
  grid-area: two;
  /* border: 2px solid black; */
}

.header {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #4E598C;
  position: absolute;
  top: 16.43%;
  bottom: 79.08%;
}

.subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color:  #BDBDBD;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 26.21%;
  bottom: 70.74%;
}

.active{
  color: #F2994A;
  justify-self: start;
  position: relative;
  left: 27.22%;
}

.secondtext {
  position: relative;
  left: 42.76%;
}

hr {
  border: 1px solid #000000;
  display: block;
  position: absolute;
  top: 31.69%;
  width: 49%;
}

.activeline {
  position: absolute;
  left: 53.88%;
  width: 35.8%;  
  top: 150%;
  border: 13px solid #F2994A;
  border-radius: 10px;
  z-index: 1;
}

label {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.label1 {
  position: absolute;
  top: 35.73%;
}

#name {
  position: absolute;
  top: 39.86%;
  bottom: 54.4%;
}

.label2 {
  position: absolute;
  top: 49.82%;
}

#type {
  position: absolute;
  top: 53.95%;
}

.label3 {
  position: absolute;
  top: 64%;
  bottom: 33.3%;
}

#details {
  position: absolute;
  top: 67.68%;
  bottom: 26.57%;
  width: 27.1%;
  padding: 0;
}

#details::placeholder {
  text-align: center;
}

.label4 {
  position: absolute;
  left: 57.92%;
  top: 64%;
  bottom: 33.3%;
}

#date {
  position: absolute;
  left: 57.22%;
  right: 33.61%;
  top: 67.68%;
  width: 9.1%;
}

#date::placeholder {
  text-align: center;
}

.label5 {
  position: absolute;
  left: 71.46%;
  right: 25.62%;
  top: 64%;
  width: 5%;
}

#cvv {
  position: absolute;
  left: 68.9%;
  right: 23.47%;
  top: 67.68%;
  width: 7.2%;
}

#cvv::placeholder {
  text-align: center;
  color: #000000;
  font-weight: bold;
}

input {
  background: #FFFFFF;
  border: 1px solid #4E598C;
  box-sizing: border-box;
  height: 64px;
  width: 48.7%;
  border-radius: 10px;
}

::placeholder{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4F4F4F;
  padding-left: 2.95%;
}

select {
  padding-left: 0.95% !important;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4F4F4F;
  -webkit-appearance: none;
  background-image: url("./Vector.png");
  background-repeat: no-repeat;
  background-position: center right 60; 
  border: 1px solid #4E598C;
  height: 64px;
  width: 48.7%;
  border-radius: 10px;
}

.required:after {
  content:" *";
  color: #EB5757;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

button {
  border-radius: 10px;
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #F7F7FF;
  height: 58px;
  /* width: 17%; */
  width: 238px;
  position: absolute;
  top: 80.68%;
}

.third {
  display: flex;
  align-items: center;
}

.thirdtext {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #4E598C;
  position: absolute;
  left: 48.54%;
  right: 41.11%;
  top: 81.96%;
  width: 12.3%;
}
