*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 1114px;
  background: url("./Vector\ 55.png");
  background-repeat: no-repeat;
  font-family: 'Nunito Sans', sans-serif;
  display: grid;
  grid-template-columns: 25.8% 52.5% 21.67%;
  grid-template-areas: ". two .";
  position: relative;
}

.two {
  grid-area: two;
  /* border: 2px solid black; */
}

.header {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #4E598C;
  position: absolute;
  top: 16.43%;
  left: 27.15%;
  bottom: 79.08%;
}

.subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color:  #BDBDBD;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 26.21%;
  left: 27.15%;
  bottom: 70.29%;
}

hr {
  position: absolute;
  border: 1px solid #000000;
  top: 31.69%;
  bottom: 68.31%;
  width: 49.3%;
  left: 27.15%;
}

.active {
  color: #F2994A;
  position: relative;
  left: 27.68%;
}

.activeline {
  position: absolute;
  left: 53.88%;
  width: 35.8%;
  top: 128%;
  z-index: 1;
  border: 13px solid #F2994A;
  border-radius: 10px;    
}

.bottomline {
  position: relative;
  left: -18.76%;
  width: 143%;
  top: 61.76%;
  border: 1px solid #817E9E;
}

.secondtext {
  position: relative;
  left: 42.76%;
}

.third {
  display: flex;
  align-items: center;
}

button {
  border-radius: 10px;
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #F7F7FF;
  height: 58px;
  width: 238px;
  position: absolute;
  top: 80.34%;
  bottom: 13.73%;
}

.thirdtext {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #4E598C;
  position: absolute;
  left: 48.54%;
  top: 81.96%;
  bottom: 15.35%;
}

.second {
  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
  border-radius: 10px;
  height: 36.35%;
  width: 52.2%;
  border-radius: 10px;
  position: absolute;
  top: 37.79%;
}

.top {
  background: #2F80ED;
  border-radius: 16px 10px 0px 0px;
  height: 17.28%;
  
  padding-left: 15.26%;
  padding-right: 19.2%;
  display: flex;
 
}

.bottom {
  padding-left: 15.26%;
  padding-right: 19.2%;
}

#topic{
  color: #FFFFFF;
  width: 614px;
  /* border: 2px solid black; */
  align-items: center;
  justify-content: space-between; 
 
}

#topic .item {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  top: 39.41%;
}

img {
  padding-right: 1.83%;
}

#topic .price{
  color: #FFFFFF;
}

#tax .price {
  color: black;
}

.price {
  float: right;
  padding-right: 4.9%;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  
  
  /* purple */
  
  color: #4E598C;
}

.item{
  padding-left: 3.21%;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */


  /* purple */

  color: #4E598C;
}

.topic1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8.2%;
  padding-bottom: 5.3%;
}

.topic1.Shipping {
  padding-top: 0;
}

.topic3 {
  margin-top: 5.15%;
  border: 1px solid #817E9E;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  height: 58px;
  align-items: center;
  justify-content: space-between;
}