*{
   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 1480px;
  background: url('./Vector\ 55.png');
  background-repeat: no-repeat;
  font-family: 'Nunito Sans', sans-serif;
  display: grid;
  grid-template-columns: 27% 49% 23.5%;
  grid-template-areas: ". two .";
  position: relative;

}

.two {
  grid-area: two;
  /* border: 2px solid black;
   */
}

.header {
  position: absolute;
  top: 12.36%;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #4E598C;
}

.subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color:  #BDBDBD;
  display: flex;
  top: 19.73%;
  bottom: 77.97%;
  position: absolute;

}

.active{
  color: #F2994A;
  justify-self: start;
}

.firsttext {
  position: relative;
  left: 13.68%;
  right: 48.26%;
  width: 140px;
  justify-self: center;
}

.secondtext {
  justify-self: end;
  position: relative;
  left: 30.76%;
}

hr {
  border: 1px solid #000000;
  display: block;
  position: relative;
  top: 359px;
}

.activeline {
  position: absolute;
  top: 55px;
  width: 170px;
  border-radius: 10px;
  border: 13px solid #F2994A;
  z-index: 1;
}

.label1 {
  position: absolute;
  top: 29.32%;
  bottom: 68.65%;
}

#name {
  position: absolute;
  top: 32.43%;
  bottom: 63.24%;
}

.required {
  position: absolute;
  top: 39.73%;
  bottom: 58.24%;
}

#email {
  position: absolute;
  top: 45.74%;
  bottom: 49.93%;
}

.label2 {
  position: absolute;
  top: 54.12%;
  bottom: 43.85%;
}

#address {
  position: absolute;
  top: 56.89%;
  bottom: 38.78%;    
}

.label3 {
  position: absolute;
  top: 64.53%;
  bottom: 33.45%;
}

#address2 {
  position: absolute;
  top: 67.3%;
  bottom: 28.38%;   
}

.label4 {
  position: absolute;
  top: 76.08%;
  bottom: 21.89%;
}

#lg {
  position: absolute;
  top: 78.85%;
  bottom: 16.82%;  
  width: 29%;   
}

.label5 {
  position: absolute;
  top: 76.08%;
  bottom: 21.89%;
  left: 58%;
}

#state {
  position: absolute;
  top: 78.85%;
  bottom: 16.82%;  
  width: 18%;  
  left: 58%;
}

label {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

input {
  background: #FFFFFF;
  border: 1px solid #4E598C;
  box-sizing: border-box;
  height: 64px;
  width: 48.7%;
  border-radius: 10px;

}

::placeholder{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4F4F4F;
  padding-left: 2.95%;
}

select {
  padding-left: 0.95% !important;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4F4F4F;
  -webkit-appearance: none;
  background-image: url("./Vector.png");
  background-repeat: no-repeat;
  background-position: center right 20; 
  -webkit-padding-start: 2px;
}

.required:after {
  content:" *";
  color: #EB5757;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

small {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #817E9E;
  position: absolute;
  top: 42.5%;
  bottom: 55.88%;
}

button {
  position: absolute;
  height: 58px;
  width: 17%;
  top: 88.58%;
  bottom: 7.5%;
  border-radius: 10px;
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #F7F7FF;
}

.three {
  display: flex;
  align-items: center;
}

.thirdtext {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #4E598C;
  position: absolute;
  top: 89.53%;
  bottom: 8.45%;
  left: 49.3%;    
}

.lasttags {
  display: flex;
}